<!doctype html>
<html>

<head>
    <title>TABLERO</title>
    <script src="https://unpkg.com/vue"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="/socket.io/socket.io.js"></script>
    <script src="//lightswitch05.github.io/table-to-json/javascripts/jquery.tabletojson.min.js"></script>


    <style>
        table {
            height: 500px;
            width: 1500px;

            background-image: url('FondoTerminado.png');
        }

        tr,
        td {

            width: 80px;
            height: 50px;

            text-align: center;
        }




        img {
            width: 90px;
        }
    </style>
</head>

<body>
    <form>
        <div id="app">
            <table v-cloak>

                <tbody>
                    <tr v-for="item in valu">
                        <td id="a1" v-if="item.C1==0">

                        </td>
                        <td id="a1" v-if="item.C1==1">
                            <img src="corredor2.gif">
                        </td>
                        <td id="a1" v-if="item.C1==2">
                            <img src="corredor1.gif">
                        </td>
                        <td id="a1" v-if="item.C1==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C2== 1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C2== 2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C2== 3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C2== 0">

                        </td>
                        <td v-if="item.C3==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C3==0">

                        </td>
                        <td v-if="item.C3==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C3==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C4==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C4==0">

                        </td>
                        <td v-if="item.C4==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C4==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C5==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C5==0">

                        </td>
                        <td v-if="item.C5==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C5==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C6==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C6==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C6==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C6==0">

                        </td>
                        <td v-if="item.C7==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C7==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C7==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C7==0">

                        </td>
                        <td v-if="item.C8==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C8==2">
                            <img src="corredor1.gif">

                        </td>
                        <td v-if="item.C8==1">

                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C8==0">

                        </td>
                        <td v-if="item.C9==3">
                            <img src="piedra.png">
                        </td>
                        <td v-if="item.C9==2">
                            <img src="corredor1.gif">
                        </td>
                        <td v-if="item.C9==1">
                            <img src="corredor2.gif">
                        </td>
                        <td v-if="item.C9==0">

                        </td>
                        <td id="a10" v-if="item.C10==1">
                            <img src="corredor2.gif">
                        </td>
                        <td id="a10" v-if="item.C10==0">

                        </td>
                        <td id="a10" v-if="item.C10==2">
                            <img src="corredor1.gif">
                        </td>
                        <td id="a10" v-if="item.C10==3">
                            <img src="piedra.png">
                        </td>
                    </tr>
                </tbody>
            </table>
           
            <input type="button" name="" id="iniciar" value="Iniciar" onclick="Iniciar()" />
            <input type="button" name="" id="Detener" value="Detener" onclick="Detencion()" />
        </div>

        <div id="mensaje"></div>
    </form>


</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            valu: []
        },
        mounted: function () {

            var vm = this;

            var socket = io();

            socket.on('Cargar Datos', function (Valores) {


                $('#mensaje').append(Valores)

                if (typeof Valores == "object") {

                    vm.valu = Valores;
                }

            });
        },

    })
</script>
<script>
</script>
<script>
    function Iniciar() {
        var socket = io();
        socket.emit("estado", 1);
    };

    function Detencion() {
        var socket = io();
        socket.emit("estado", 2);
    };
</script>

</html>